*{

  font-family: 'Baloo Bhai', cursive;
  font-size: 20px;
  font-weight: bold;
}

body{background-image:url(images/bg.jpg) ;
}

.container{
    width: 500px;    
    background-color: white;
    
    display: block;
    margin: 100px auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
   
}

.app-name{
    width: 500px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    
}

.app-name p{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #0638ec;
}

.app-name p:hover{
    color: #f19558;
}

.notification{
    background-color: #e01022;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 500px;
    height: 460px;
    background-color: #6aabd1;
   
}


.weather-icon{
    width: 500px;
    height: 128px;
    
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}


.temperature-value{
    width: 500px;
    height:60px;
    
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    color: yellow;
    
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}
.temperature-value span:hover{
    color: aqua;
}

.temperature-description p{
    padding: 30px;
    margin: 0;
    color: #eff0f5;
    text-align: center;
    font-size: 1.2em;
}

.temperature-description p:hover{
    color: #e01022;

}

 
.location p{
    margin: 0;
    padding: px;
    color: #ebecf1;
    text-align: center;
    font-size: 0.8em;
}
.location p:hover{
    color: rgb(5, 83, 53);
}